// Mixins Here

.button-mixin (@color, @color2, @radius, @color3){
	border: 1px solid @color2;
	border-radius: @radius;
	background-color: @color3;
    padding: 10px 15px;
    width: 50%;
    text-align: center;
    a {
        text-decoration: none;
        font-size: 1.6rem;
        color: @color;  
    }
    
}

.hover (@fromColor, @toColor, @fromColor2, @toColor2){
	animation-name: colorAnim;
	animation-duration: 2s;
	font-weight: bold;

	@keyframes colorAnim {
		from {background-color: @fromColor;}
        to {background-color: @toColor;}
        from {text-color: @fromColor2;}
        to {text-color: @toColor2;}
	}
}